:root {
	--leftPosition: 50
}

* {
	box-sizing: border-box
}

body,
html {
	padding: 0;
	margin: 0;
	overflow: hidden
}

body {
	background: #ffba01;
	background-size: cover;
	font-family: var(--fonts-normal-text);
	font-size: 14px;
	font-weight: 400
}

#dashboard {
	width: 100vw;
	height: 25vh;
	margin: 0 auto
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0;
	grid-row-gap: 0
}

.div1 {
	grid-area: 1/1/3/2
}

#date {
	z-index: -1;
	background: linear-gradient(180deg, #fff 25.83%, #fff9eb 100%);
	box-shadow: 0 15px 250px 40px rgba(192, 76, 50, .55);
	width: 35vw;
	height: 25vh;
	position: relative;
	left: 25%;
	border-radius: 33px;
	overflow: hidden;
	margin-top: 5px
}

#dateContent {
	position: relative;
	top: 20%
}

#day {
	font-family: "HP Simplified";
	text-align: center;
	position: static;
	font-size: 7vh;
	color: #977272;
	font-weight: 900
}

#number {
	font-family: "HP Simplified";
	text-align: center;
	font-size: 7vh;
	color: #5f5149;
	font-weight: 1200
}

.div2 {
	grid-area: 1/2/2/3
}

#greeting {
	position: relative;
	font-family: "HP Simplified";
	font-weight: 700;
	font-size: x-large;
	color: #fff;
	text-align: left;
	overflow: hidden
}

.div3 {
	grid-area: 2/2/3/3
}

#desc {
	position: static;
	font-family: "HP Simplified";
	font-weight: 500;
	font-size: large;
	color: #fff;
	text-align: left
}

#dashboard .content {
	overflow: hidden
}

#taskbar {
	position: fixed;
	height: 20vh;
	width: 100vw;
	top: 85vh;
	z-index: 1;
	left: calc(var(--leftPosition)* 1vw);
	transform: translateX(-50%);
	background: linear-gradient(180deg, #fff 0, #fffbe6 100%);
	box-shadow: 0 103px 250px 87px rgba(192, 76, 50, .55);
	border-radius: 43px;
	overflow: contain
}

#taskContent {
	position: fixed;
	bottom: 21vh
}

#house {
	position: fixed;
	left: 10%;
	transform: scale(.6)
}

#reward {
	position: fixed;
	right: 10%;
	transform: scale(.6)
}

.taskName {
	font-family: "HP Simplified";
	font-size: xx-large;
	position: fixed;
	top: 90px;
	left: 10%
}